<!-- Titlebar -->
<div id="titlebar">
	<div class="row">
		<div class="col-md-12">
			<h2>Mes annonces</h2>
			<hr>
			<!-- Breadcrumbs -->
			<nav id="breadcrumbs">
				<ul>
    				<li><%= link_to "Accueil", root_path %></li>
					<li><%= link_to "Mon profil", user_path(current_user.id) %></li>
					<li><%= link_to "Mes annonces" %></li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="style-2">
		<!-- Tabs Navigation -->
		<ul class="tabs-nav" id='public-profile-tabs'>
			<li><a href="#tab1a"><i class="fas fa-plug"></i></i> En ligne <span class="nav-tag"><%= current_user.items.where(status: "published").count %></span></a></li>
			<li><a href="#tab3a"><i class="fas fa-handshake"></i> 	Objets vendus <span class="nav-tag"><%= current_user.items.where(status: "sold").count %></span></a></li>
			<li><a href="#tab2a"><i class="far fa-file-alt"></i></i> Brouillons <span class="nav-tag"><%= current_user.items.where(status: "draft").count %></span></a></li>
		</ul>

		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1a">
				<%= render "users/private_profile/adverts"%>
			</div>
			<div class="tab-content" id="tab2a">
				<%= render "users/private_profile/drafts"%>
			</div>
			<div class="tab-content" id="tab3a">
				<%= render "users/private_profile/sales"%>
			</div>
		</div>
	</div>
</div>

