<!-- Form section to modify default delivery address -->
<div class='form col-md-6 col-sm-12'>
  <div class='dashboard-list-box margin-top-0'>

    <h4 class='gray'>Adresse de livraison</h4>

    <div class='dashboard-list-box-static'>

      <div class="form-group form-inline row">
        <div class='col-3'>Nom</div>
        <%= f.text_field :delivery_entity, value: @user.delivery_entity, class:'form-control' %>
      </div>

      <div class="form-group form-inline row">
        <div class='col-3'>Rue</div>
        <div>
          <%= f.text_field :delivery_street, value: @user.delivery_street, class:'form-control' %><br/>
          <%= f.text_field :delivery_street2, value: @user.delivery_street2, class:'form-control' %>
        </div>
      </div>

      <div class="form-group form-inline row">
        <div class='col-3'>Code postal</div>
        <%= f.text_field :delivery_postcode, value: @user.delivery_postcode, class:'form-control col-2' %>
      </div>

      <div class="form-group form-inline row">
        <div class='col-3'>Ville</div>
        <%= f.text_field :delivery_city, value: @user.delivery_city, class:'form-control' %>
      </div>

      <div class="form-group form-inline row">
        <div class='col-3'>Pays</div>
        <%= f.text_field :delivery_country, value: @user.delivery_country, class:'form-control' %>
      </div>

      <div class="form-group form-inline row">
        <div class='col-3'>Instructions de livraison</div><br/>
        <em>Préciser si besoin le code, numéro de téléphone pour accéder au destinataire du colis</em>
        <%= f.text_area :delivery_instructions, value: @user.delivery_instructions, class:'form-control' %>
      </div>
    </div>
  </div>
</div>
