<!-- Form section to modify default delivery address -->
<div class='dashboard-list-box margin-top-0'>

  <h4 class='gray'>Adresse de livraison</h4>

    <div class='dashboard-list-box-static'>
      <div class='my-profile'>

      <div class="form-group form-inline row mb-4">
        <%= f.label :delivery_entity, 'Nom', class:'col-3 text-left' %>
        <%= f.text_field :delivery_entity, value: @user.delivery_entity, class:'form-control col-8 mb-0' %>
      </div>

      <div class="form-group form-inline row mb-4">
        <%= f.label :delivery_street, 'Rue', class:'col-3 text-left' %>
        <%= f.text_field :delivery_street, value: @user.delivery_street, class:'form-control col-8 mb-0' %>
      </div>

      <div class="form-group form-inline row mb-4">
        <%= f.label :delivery_street, 'Rue (ligne 2)', class:'col-3 text-left' %>
        <%= f.text_field :delivery_street2, value: @user.delivery_street2, class:'form-control col-8 mb-0' %>
      </div>

      <div class="form-group form-inline row mb-4">
        <%= f.label :delivery_postcode, 'Code postal', class:'col-3 text-left' %>
        <%= f.text_field :delivery_postcode, value: @user.delivery_postcode, class:'form-control col-8 mb-0' %>
      </div>

      <div class="form-group form-inline row mb-4">
        <%= f.label :delivery_city, 'Ville', class:'col-3 text-left' %>
        <%= f.text_field :delivery_city, value: @user.delivery_city, class:'form-control col-8 mb-0' %>
      </div>

      <div class="form-group form-inline row mb-4">
        <%= f.label :delivery_country, 'Pays', class:'col-3 text-left' %>
        <%= f.text_field :delivery_country, value: @user.delivery_country, class:'form-control col-8 mb-0' %>
      </div>

      <div class="form-inline row">
        <%= f.label :delivery_instructions, class:'col-sm-12 text-left' do %>Instructions de livraison <i class="tip" data-tip-content="Préciser si besoin le code, numéro de téléphone pour accéder au destinataire du colis"></i><% end %>
        <%= f.text_area :delivery_instructions, value: @user.delivery_instructions, class:'form-control col-sm-12' %>
      </div>
    </div>
  </div>
</div>