<!-- Form section to modify personal info -->
<div class='dashboard-list-box margin-top-0'>

  <h4 class='gray'>Informations personnelles</h4>
    <div class='dashboard-list-box-static'>
      <div class='my-profile'>
      
      <div class="form-group form-inline row mb-4">
        <%= f.label :first_name, 'Prénom', class:'col-3 margin-top-0' %>
        <%= f.text_field :first_name, value: @user.first_name, class:'col-8 form-control mb-0' %>
      </div>
      <div class="form-group form-inline row mb-4">
        <%= f.label :last_name, 'Nom', class:'col-3 margin-top-0' %>
        <%= f.text_field :last_name, value: @user.last_name, class:'col-8 form-control mb-0' %>
      </div>
      <div class="form-group form-inline row mb-4">
        <%= f.label :email, 'Email', class:'col-3 margin-top-0' %>
        <%= f.email_field :email, value: @user.email, class:'col-8 form-control mb-0' %>
      </div>
      <div class="form-group form-inline row mb-4">
        <%= f.label :phone_number, 'Téléphone', class:'col-3 margin-top-0' %>
        <%= f.text_field :phone_number, value: @user.phone_number, class:'col-8 form-control mb-0' %>
      </div>
    </div>
  </div>
</div>