<div class="dashboard-list-box margin-top-0">
	<ul>
		<% if @user_orders.where(status: "paid").count == 0 %>
			<li><h3>Vous n'avez pas fait d'achats sur Kraft Market </h3></li>
		<% else %>
 	    	<% @user_orders.where(status: "paid").each do |order| %>
	    		<li>
	    			<div class='list-box-listing'>
    					<div class="list-box-listing-img col-2">
	    				<%= link_to item_path(order.item.id) do %>
	    					 <% if order.item.item_images.attached? %>
	    	                    <%= image_tag order.item.item_images[0].variant(resize: "200x200") %>
	    	                <% elsif order.item.Faker_image.nil? %>
	    	                    <%= image_tag '/assets/generique/no-image.jpg' %>
	    	                <% else %>
	    	                    <%= image_tag ('/assets/image_seed/' + order.item.Faker_image)%>
	    	                <% end %>
	    	                <% end %>
	    	        	</div>
	    				<div class='list-box-listing-content col-7'>
	    					<div class='inner'>
	    						<%= link_to item_path(order.item.id), class:"green-link" do %><h3><%= order.item.title %></h3><% end %>
	    						<span><%= order.item.category.category_name %></span><br/>
	    						<span><%= order.item.price %> €</span>
	    					</div>
	    				</div>
	    				<div class="list-box-listing-content col-3">
        	                <div class="inner text-right no-wrap">
        	                    <span>Commandé le <%= order.created_at.strftime("%d/%m/%y") %> </span>
        	                    <span>à <%= order.created_at.strftime("%H:%M") %></span>
        	                </div>
	    				</div>
	    			</div>
	    		</li>
	    	<% end %>
		<% end %>
    </ul>
</div>