

<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">	
					Ils ont déjà rejoint le mouvement
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

			
				<!-- Listing Item -->
			<% 4.times do |i| %>
				<div class="carousel-item">
					<% @this_user = User.find((User.first.id) + i) %>
					<%= link_to public_profile_path(@this_user.id), class: "listing-item-container" do %>
						<div class="listing-item">
							<%= image_tag ("ravitailleur/ravitailleur0" + (i + 1).to_s + ".jpg")%>
								<div class="listing-item-content">
									<span class="tag"><%= @this_user.company_name %></span>
									<h3><%= @this_user.first_name %></h3>
									<span><%= @this_user.delivery_city %></span>
								</div>
						</div>
						<div class="star-rating" data-rating="2.0">
							<div class="rating-counter"><%= @this_user.company_description.truncate(38) %></div>
						</div>
					<% end %>
				</div>
			<% end %>
			<!-- Listing Item / End -->
		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->