<%= form_for(current_user, url: user_path(current_user.id), html: { method: :put }) do |f| %>

<div class='row'>
  <div class='col-6'>
    <%= render 'edit/edit_personal_info', f:f %>
  </div>
  <div class='col-6'>
    <%= render 'edit/edit_company_info', f:f %>
  </div>
</div>

<div class='row'>
  <div class='col-6'>
  <%= render 'edit/edit_invoice_address', f:f %>
  </div>
  <div class='col-6'>
  <%= render 'edit/edit_delivery_address', f:f %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Confirmer les changements", class:'btn btn-success' %>
  </div>

<% end %>

  <div>
    <%= render 'edit_password' %>
  </div>

<%= render 'cancel_registration' %>

<%= link_to "Back", :back %>