<div class="dashboard-list-box margin-top-0">
	<ul>
		<% if Item.where(seller_id: current_user.id, status: "published").count == 0 %>
			<li><h3>Vous n'avez pas d'annonce en ligne</h3></li>
		<% else %>
 	    	<% Item.where(seller_id: current_user.id, status: "published").each do |item| %>
	    		<li>
	    			<div class='list-box-listing'>
	    				<div class="list-box-listing-img col-2">
	    					<a>
	    					 <% if item.item_images.attached? %>
	    	                    <%= image_tag item.item_images[0].variant(resize: "200x200") %>
	    	                <% elsif item.Faker_image.nil? %>
	    	                    <%= image_tag '/assets/generique/no-image.jpg' %>
	    	                <% else %>
	    	                    <%= image_tag ('/assets/image_seed/' + item.Faker_image)%>
	    	                <% end %>
	    	            	</a>
	    	        	</div>
	    				<div class='list-box-listing-content col-5'>
	    					<div class='inner'>
	    						<h3><%= item.title %></h3>
	    						<span><%= item.category.category_name %></span><br/>
	    						<span><%= item.price %> €</span>
	    					</div>
	    				</div>
	    				<div class="list-box-listing-content col-5">
        	                <div class="inner text-right no-wrap">
        	                    <span>Publié le <%= item.created_at.strftime("%d/%m/%y") %>
        	                    à <%= item.created_at.strftime("%H:%M") %></span>
        	                </div><br>
							<hr>
							<div class="inner text-right no-wrap">
								<%= link_to item_path(item.id), class:"button gray" do %>Voir l'annonce<% end %>
								<%= link_to edit_item_path(item.id), class:'button gray' do %><i class="fa fa-edit"></i> Editer<% end %>
                        		<%= link_to duplicate_item_path(item.id), method: :create, class:'button gray' do %><i class="fa fa-clone"></i> Dupliquer<% end %>
								<%= link_to draft_item_path(item.id), method: :put, class:'button gray' do %><i class="fa fa-undo-alt"></i>Passer en brouillon<% end %>						
							</div>
	    				</div>
	    			</div>		
	    		</li>
	    	<% end %>
		<% end %>
    </ul>
</div>