<ul class="nav nav-tabs" id='profile-tabs' role='tablist'>

	<!-- Tabs corresponding to each item status -->
	<% @item_status.each do |status, french_status| %>
	  	<li class="nav-item" ><a class="nav-link tab-link" role='tab' data-toggle="tab" id=<%= status+'-tab' %> href=<%= '#'+status %> aria-controls=<%= status %> aria-selected="false"  >
	  		<%= french_status %>
  		</a></li>
	<% end %>
</ul>


<!-- Tab contents -->
<div class='tab-content'>
	<!-- Tabs content corresponding to each status for the items owned by the current user -->
	<% @user_sales.each do |status, items| %>
	<div class='tab-pane fade' role='tabpanel' id=<%= status %> aria-labelledby=<%= status+'-tab' %> >
		<table class="table">
			<thead class="thead-light"><tr>
				<th>Nom de l'annonce</th>
				<th>Catégorie</th>
				<th>Prix</th>
			</tr></thead>
			<tbody>
				<% items.each do |item| %>
				<tr>
					<td><%= item.title %></td>
					<td><%= item.category.category_name %></td>
					<td><%= item.price %> €</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<% end %>

</div>