<ul class="nav nav-tabs" id='profile-tabs' role='tablist'>
  	<li class="nav-item" ><a class="nav-link tab-link active" role='tab' data-toggle="tab" href='#personal' id='personal-tab' aria-controls="personal" aria-selected="true" >Coordonnées</a></li>
	<li class="nav-item" ><a class="nav-link tab-link" role='tab' data-toggle="tab" href='#company' id='company-tab' aria-controls="company" aria-selected="false" >Entreprise</a></li>
  	<li class="nav-item" ><a class="nav-link tab-link" role='tab' data-toggle="tab" href='#addresses' id='addresses-tab' aria-controls="addresses" aria-selected="false" >Adresses</a></li>
  	<li class="nav-item" ><a class="nav-link tab-link" role='tab' data-toggle="tab" href='#password' id='password-tab' aria-controls="password" aria-selected="false" >Mot de passe</a></li>
</ul>



<div class='tab-content'>
	<%= form_for(current_user, url: user_path(current_user.id), html: { method: :put }) do |f| %>
	<div class='tab-pane fade show active' role='tabpanel' id="personal" aria-labelledby="personal-tab" >
		<%= render 'users/edit/edit_personal_info', f:f %>
	</div>
	<div class='tab-pane fade' role="tabpanel"  id="company" aria-labelledby="company-tab" >
		<%= render 'users/edit/edit_company_info', f:f %>
	</div>
	<div class='tab-pane fade' role="tabpanel"  id="addresses" aria-labelledby="addresses-tab" >
		<div class='col-6'>
			<%= render 'users/edit/edit_invoice_address', f:f %>
		</div>
		<div class='col-6'>
			<%= render 'users/edit/edit_delivery_address', f:f %>
		</div>	
	</div>
	<div class='tab-pane fade' role="tabpanel" id="password-tab" aria-labelledby="password-tab">
		<%= render 'users/edit/edit_password', f:f %>
	</div>
	<% end %>
</div>