<% title(@user.first_name+' '+@user.last_name+' - KraftMarket') %>

<div id="wrapper">
    <div class="container public-profile">

    	<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<div class="user-profile-avatar"><%= image_tag 'image_profil_min.jpg' %>
					</div>
					<div class="user-profile-name">
						<h2><%= @user.first_name %> <%= @user.last_name %></h2>
						<div class='personal_description'>
							<% if @user.personal_description != nil %>
								<%= @user.personal_description %>
							<% else %>
								<i><%= @user.first_name %> n'a pas encore renseigné son profil...</i>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-12">
			<div class="style-2">
				<!-- Tabs Navigation -->
				<ul class="tabs-nav" id='public-profile-tabs'>
					<li><a href="#tab1a"><i class="fa fa-folder-open"></i> Ses annonces <span class="nav-tag"><%= @user_adverts.count %></span></a></li>
					<li><a href="#tab2a"><i class="fas fa-handshake"></i> Ses ventes <span class="nav-tag"><%= @user_sales.count %></span></a></li>
					<li><a href="#tab3a"><i class='fa fa-shopping-basket'></i> Ses achats <span class="nav-tag"><%= @user_orders.count %></span></a></li>
				</ul>

				<!-- Tabs Content -->
				<div class="tabs-container">
					<div class="tab-content" id="tab1a">
						<%= render "users/public_profile/adverts"%>
					</div>

					<div class="tab-content" id="tab2a">
						<%= render "users/public_profile/sales"%>
					</div>

					<div class="tab-content" id="tab3a">
						<%= render "users/public_profile/orders"%>
					</div>
				</div>
			</div>
		</div>

    </div>
</div>