<% title('Mon profil - KraftMarket') %>

<%= render 'profile_header' %>

<div class='padding-top-0' id='dashboard'>

	<!-- Tabs to display profile section -->
	<%= render 'profile_tabs' %>

  	<div class="dashboard-content">
	
		<div class='profile-tab-content' id="public-dashboard" >
	  		<%= render 'public_dashboard' %>
	  	</div>

		<!-- Tab-content displaying items owned by the user -->
		<div class='profile-tab-content' id="seller" >
	  		<%= render 'seller_profile' %>
	  	</div>


		<!-- Tab-content displaying orders done by the user -->
		<div class='profile-tab-content' id="buyer" >
	  		<%= render 'buyer_profile' %>
	  	</div>

		<!-- Tab-content displaying forms to modify personal info from the user -->
		<div class='profile-tab-content' id="profile-info"  >
	  		<%= render 'profile_info' %>
	  	</div>

	</div>
</div>

<%= render 'profile_footer' %>


<script type="text/javascript">
  $(document).ready(function() {

      // Hide delivery_form by default
    $('.profile-tab-content').hide();
    $('.dashboard-nav li:first').addClass('active')
    $('.profile-tab-content:first').show();

    //Display the delivery form if shipping is required
    $('li.profile-tab').on('click',function(e) {
    	e.preventDefault();
		$('.active').removeClass('active'); //Desactivate the previous tab
 		$(this).addClass('active'); //Activate the right tab
		$('.profile-tab-content').hide(); //Hide all tabs
	 	$(".profile-tab-content#"+e.target.id).show(); //Display the right category
    })

	$('li.profile-section-tab').on('click',function(e) {
    	e.preventDefault();
		$('.profile-section-content').hide(); //Hide all tabs
		console.log(e);
	 	$(".profile-section-content#"+e.target.id).show(); //Display the right category
    })    

  });
</script>