<% title('Dashboard - KraftMarket') %>

<div class='padding-top-0' id='dashboard'>

	<!-- Tabs to display profile section -->
	<%= render 'users/private_profile/profile_tabs' %>

  	<div class="dashboard-content">
	
		<div class='profile-tab-content' id="personal-dashboard" >
	  		
	  		<!-- Titlebar -->
			<div id="titlebar">
				<div class="row">
					<div class="col-sm-12 no-wrap">
						<h2>Bienvenue
							<% if current_user.first_name? %>
			                	<%= ' '+ current_user.first_name %>
							<% end %> !
			            </h2>
						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class='text-right'>
							<ul>
			    				<li><%= link_to "Accueil", root_path %></li>
								<li><%= link_to "Mon profil", user_path(current_user.id) %></li>
								<li><%= link_to "Tableau de bord", user_path(current_user.id) %></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

	  		<%= render 'users/private_profile/dashboard' %>
	  	</div>

	</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('footer').hide();
    $('.dashboard-nav li#profile_dashboard').addClass('active');
  });
</script>