<% title('Mon profil - KraftMarket') %>

<%= render 'profile_header' %>

<div class='padding-top-0' id='dashboard'>

	<!-- Tabs to display profile section -->
	<%= render 'profile_tabs' %>

  	<div class="dashboard-content">
	
		<div class='profile-tab-content' id="personal-dashboard" >
	  		<%= render 'users/show/public_dashboard' %>
	  	</div>

		<!-- Tab-content displaying items owned by the user -->
		<div class='profile-tab-content' id="seller" >
	  		<%= render 'users/show/seller_profile' %>
	  	</div>

		<!-- Tab-content displaying orders done by the user -->
		<div class='profile-tab-content' id="buyer" >
	  		<%= render 'users/show/buyer_profile' %>
	  	</div>

	</div>
</div>

<%= render 'profile_footer' %>


<script type="text/javascript">


  $(document).ready(function() {

  	// Hide delivery_form by default
    $('.profile-tab-content').hide();
    $('.dashboard-nav li:first').addClass('active');
    $('.profile-tab-content:first').show();

    //Display the delivery form if shipping is required

    $("li.profile-tab:not('#profile-info')").on('click', function(e) {
    	e.preventDefault();
  		$('.active').removeClass('active'); //Desactivate the previous tab
 		$(this).addClass('active'); //Activate the right tab
      	$('.profile-tab-content').hide(); //Hide all tabs
      	$('.profile-tab-content#'+e.currentTarget.id).show(); //Hide all tabs
    })

  });
</script>