<header class="navbar navbar-expand-lg navbar-light bg-light sticky" id='header'>

  <nav class='container d-flex justify-content-between align-items-center'>

    <div class="w-100 left-part">

      
      <div id='logo' class='navbar-brand margin-top-0'>
        <%= link_to root_path do %>
          <%= image_tag "logo-kraft", style: "height: 50px"%>
        <% end %>
      </div>
   
      <div class='text-right toggle-div'>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">

        <!-- Button to promote selling -->
          <li class="nav-item text-nowrap">
            <% if user_signed_in? %>
              <%= link_to new_item_path, class: "header-cta button no-wrap" do %>
                <i class="fa fa-plus-square"></i>Nouvelle annonce
              <% end %>
            <% else %>
              <%= link_to "Devenez ravitailleur", home_seller_path, class: "header-cta button d-flex justify-content-end" %>
            <% end %>
         </li>

        <!-- Button to promote items -->
          <li class="nav-item text-nowrap">
            <% if user_signed_in? && current_user.is_buyer %>
              <%= link_to "Découvrir les ressources", items_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Découvrir les ressources", items_path, class: "nav-link" %>
            <% end %>
          </li>
        <!-- Profile dropdown if signed-in or signin -->

          <% if user_signed_in? %>

            <li class="nav-item text-nowrap">
               <%= link_to 'Mon compte', user_path(current_user.id), class: "nav-link" %>
             </li>

            <li class="nav-item nav-icon">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fa fa-sign-out-alt" alt='Déconnexion'></i>
              <% end %>
            </li>
          <% else %>

            <li class="nav-item text-nowrap">
                <%= link_to "Le concept", about_path, :class =>"nav-link" %>
            </li>
            <li class="nav-item text-nowrap">
              <%= link_to "Connexion", new_user_session_path,  :class =>"nav-link" %>
            </li>
  
          <% end %>


      <!-- Display cart if user signed in -->
        <% if user_signed_in? %>

      <!-- Vertical separator -->
          <li class='vertical-separator'></li>

          <li class="nav-item nav-icon nav-link">
						<%= link_to cart_path(current_user.cart.id), class:"nav-link button_cart" do %>
								<i class='fa fa-shopping-basket'></i>
                <% if Item.find_by(cart_id: current_user.cart.id) != nil %>
							<%end%>
						<% end %>	
					</li>

        <% end %>
        
        <li class="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <div class="item">
						<i class='fa fa-shopping-basket'></i>
            <svg width="70" height="70" xmlns="http://www.w3.org/2000/svg">
             <g>
              <title>Layer 1</title>
              <circle id="circle" class="circle_animation" r="22" cy="38" cx="35" stroke-width="3" stroke="#378F62" fill="none"/>
             </g>
            </svg>
        </div>
        </li>

        <li>
          
        </li>
        




      </ul>
    </div>
    
  </nav>
</header>




