<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <% if user_signed_in? %>

    <div class="d-flex flex-grow-1">
      <span class="w-200 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
       <a class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "logo-kraft", size: "170x50"%>
        <% end %>        
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
              <%= link_to "Vendre sur Kraft", home_seller_path, :class => "btn btn-outline-primary custom-btn" %>
         </li>
         <li class="nav-item ">
              <%= link_to "Voir les produits", items_path,  :class =>"nav-link" %>
          </li>
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mon compte
           </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Mes commandes", user_path(current_user.id), class:"dropdown-item" %>
            <%= link_to "Mon profil", user_path(current_user.id),  class:"dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
        
          </div>
          </li>
            
           <li class="nav-item">
              <% if current_user %>
					<li class ="cart">
						<%= link_to cart_path(current_user.cart.id), class:"button_cart" do %>
							<% if Item.find_by(cart_id: current_user.cart.id) == nil %>
								<%= image_tag 'cart-icon/empty', style: "width: 35px; height: 35px" %>
							<%else%>
								<!-- Esthétique du panier quand une réservation est faite ! -->
								<%= image_tag 'cart-icon/full', style: "width: 35px; height: 35px" %>
							<%end%>
						<% end %>	
					</li>	
				<% end %>             
          </li>
      </ul>
    </div>
  
  <% else %>
        <div class="d-flex flex-grow-1">
        <span class="w-200 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
       <a class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "logo-kraft", size: "170x50"%>
        <% end %>        
    </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item2">
              <%= link_to "Publier une annonce", new_item_path, :class => "btn btn-outline-primary custom-btn" %> 
          </li>
           <li class="nav-item ">
              <%= link_to "Voir les produits", items_path,  :class =>"nav-link" %>
          </li>
          <li class="nav-item ">
              <%= link_to "Connexion", new_user_session_path,  :class =>"nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to "Comment ça marche", about_path, :class =>"nav-link" %>
          </li>
            
            <li class="nav-item">
                <% if current_user %>
					<li class ="cart">
						<%= link_to cart_path(current_user.cart.id), class:"button_cart" do %>
							<% if Item.find_by(cart_id: current_user.cart.id) == nil %>
								<%= image_tag 'cart-icon/empty', style: "width: 45px; height: 50px" %>
							<%else%>
								<!-- Esthétique du panier quand une réservation est faite ! -->
								<%= image_tag 'cart-icon/full', style: "width: 45px; height: 50px" %>
							<%end%>
						<% end %>	
					</li>	
				<% end %>             
            </li>
        </ul>
    </div>
    <% end %>
</nav>

 