<div class='container'>

  <% if @cart_item == nil %>
    <h3> Vous n'avez aucun objet réservé</h3>
  <% else %>
    <h3 class="margin-top-0 margin-bottom-30"> Votre réservation</h3>


    <%= render 'carts/cart_show/order_summary' %>

  <!-- Use simple_form gem for radio button choice -->
  <%= form_with model: @order, method:'create', class:'form' do |f| %>
    <%= f.hidden_field :item_id, value: @cart_item.id %>

    <!-- Radio button to choose between pickup and bike delivery -->
    <%= render 'carts/cart_show/shipping_choice', f:f %>

    <!-- Form to choose address and invoice address -->
    <%= render 'carts/cart_show/addresses_forms', f:f %>


      <!-- Stripe script permitting payment and creating order -->
      <script src="https://checkout.stripe.com/checkout.js" 
        class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Commande de l'article n°<%= @cart_item.id %>"
        data-amount="<%= (@cart_item.price) * 100 %>"
        data-currency="eur"   
        data-locale="auto"
        data-label="Confirmer ma commande"
        method='create'>
      </script>
      <br>
  <% end %>

  <!-- Delete the cart -->
  <%= button_to 'Annuler', cart_path(id:@cart.id, item_id:@cart_item.id), method: :patch, data: { confirm: 'Voulez-vous annuler votre réservation ?' }, class: "btn btn-primary" %>

  <% end %>
</div>
