<!-- Template page: http://www.vasterad.com/themes/listeo_latest/pages-booking.html -->
<% title('Réservation - KraftMarket') %>

<div id="wrapper">
  <%= render 'carts/cart_show/titlebar' %>

  <div class='container'>
    <% if @cart_item == nil %>
      <div class='empty-cart-container messages-container'>
        <h3> Vous n'avez aucun objet réservé</h3>
        <div>
            <%= link_to "Découvrir les ressources", items_path, class:"button" %>
        </div>
      </div>

    <% else %>

        <div class='row'>
            <%= render 'carts/cart_show/order_summary' %>
            <div class='col-md-8 col-sm-12'>

            <!-- Use simple_form gem for radio button choice -->
                <%= form_with model: @order, method:'create', class:'form' do |f| %>
                  <%= f.hidden_field :item_id, value: @cart_item.id %>

                  <!-- Radio button to choose between pickup and bike delivery -->
                  <%= render 'carts/cart_show/shipping_choice', f:f %>
                  <!-- Form to choose address and invoice address -->
                  <%= render 'carts/cart_show/invoice_form', f:f %>
                  <%= render 'carts/cart_show/payment_button', f:f %>
                <% end %>
            </div>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

      // Hide delivery_form by default
    $('#delivery_form').hide();

    //Display the delivery form if shipping is required
    $('#shipping_selection').on('click',function(e) {
      $("#delivery_form").show(); 
    })

    //Hide the delivery form if shipping isn't required
    $('#order_pickup').on('click',function(e) {
      $("#delivery_form").hide();
    })
  });
</script>