<% title("Le concept - KraftMarket") %>

<!-- Wrapper -->
<div id="wrapper">

	<div class="listing-slider mfp-gallery-container margin-bottom-0">
		<div href="images/single-listing-01.jpg" data-background-image="<%= asset_path('matiere/matiere11.jpg') %>" class="item mfp-gallery" title="Title 1"></div>
		<div href="images/single-listing-03.jpg" data-background-image="<%= asset_path('matiere/matiere03.jpg') %>" class="item mfp-gallery" title="Title 2"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere09.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
		<div href="images/single-listing-02.jpg" data-background-image="<%= asset_path('matiere/matiere05.jpg') %>" class="item mfp-gallery" title="Title 3"></div>
		<div href="images/single-listing-02.jpg" data-background-image="<%= asset_path('matiere/matiere15.jpg') %>" class="item mfp-gallery" title="Title 3"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere10.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere13.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
		<div href="images/single-listing-04.jpg" data-background-image="<%= asset_path('matiere/matiere14.jpg') %>" class="item mfp-gallery" title="Title 4"></div>
	</div>

	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="headline centered margin-top-80">
					Rien ne se perd, si l'on crée,<br> tout se transforme !<br><br>
					<span class="margin-top-25">
						C'est avec la maxime de Lavoisier en tête qu'Hugo a lancé Kraft Market avec des amis.
						Après avoir vu un sac de café venant du Brésil traîner dans le coin d'une boutique, 
						il l'a récupéré et donné à des tapissiers qui en ont fait de magnifiques objets : sacs, miroirs, coussins...<br><br>
						<hr><br>
						Kraft Market est né ! Une market place dédiée à la fois aux commerçants qui cherchent
						à valoriser leurs matières secondaires et aux artisans désireux d'en<br> 
						trouver pour leurs créations.
					</span>
				</h2>
			</div>
		</div>

		<div class="row icons-container" style="margin-top: 50px; margin-bottom: 80px">
			<!-- Stage -->
			<div class="col-md-4">
				<div class="icon-box-2 with-line">
					<i class="fas fa-recycle"></i>
					<h3>Recycler de belles matières</h3>
					<p>Nous trouvions dommage que de belles matières premières soient jetées au lieu d'avoir la deuxième qu'elles méritaient.</p>
				</div>
			</div>

			<!-- Stage -->
			<div class="col-md-4">
				<div class="icon-box-2 with-line">
					<i class="fas fa-hands-helping"></i>
					<h3>Mettre en contact</h3>
					<p>Nous mettons donc en contact les boutiques et ateliers de votre quartier avec les artistes et artisans.</p>
				</div>
			</div>

			<!-- Stage -->
			<div class="col-md-4">
				<div class="icon-box-2">
					<i class="fas fa-bicycle"></i>
					<h3>Réserver et se faire livrer</h3>
					<p>Vous pouvez vendre et acheter en ligne ces belles matières premières, puis choisir le mode de livraison.</p>
				</div>
			</div>
		</div>

</div>
<!-- Wrapper / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

