<% title('Connexion - KraftMarket') %>


<div id="wrapper" >
  <!-- Titlebar -->
  <div id="titlebar" class='gradient'>
    <div class='container'>
      <div class="row">
        <div class="col-md-12">
          <h2>Connexion</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><%= link_to "Accueil", root_path %></li>
              <li><%= link_to "Connexion", new_session_path(resource_name) %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='d-flex align-items-center flex-column add-listing-section padding-bottom-0 margin-bottom-95'>
      <div class="devise_signin">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-inline">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field form-inline">
            <%= f.label :"mot de passe" %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <span class='lost_password'>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
            <% end -%>
          </span>


          <div class="actions d-flex justify-content-center mt-4">
            <%= f.submit "Connexion" %>
          </div>

        <% end %>

        <div class="margin-top-25">
          <span class='lost_password'>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Pas encore inscrit ?", new_registration_path(resource_name) %><br />
            <% end -%>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>