
<div class="devise_signin">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

 <div class="checkobox_row">
     <% if devise_mapping.rememberable? -%>
    <div class="checkboxes margin-top-10">
      <%= check_box_tag(:remember_me) %>
      <%= f.label :remember_me %>      
    </div>
      <% end -%>
  </div>
  

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</br>
<%= render "devise/shared/links" %>
</div>
