<% title('Mon annonce - KraftMarket') %>

<div id="wrapper">

	<%= render 'items/item_edit/titlebar' %>

	<div class="container">

		<!-- Form start -->
		<div class="row">
			<div class="col-lg-12">
				<div id="add-listing" class="separated-form">

					<%= form_with model: @item, class:'form' do |f| %>

						<% if user_signed_in? %>
							<%= f.hidden_field :seller_id, value: current_user.id %>
						<% end %>

						<%= f.hidden_field :status, value:'published' %>

						<!-- Section Informations essentielles -->
						<%= render 'items/item_edit/main_attributes_form', f:f %>

						<!-- Section Photos -->
						<%= render 'items/item_edit/change_add_photos', f:f %>

						<div class='d-flex justify-content-center row margin-top-15 margin-bottom-25'>
							<%= link_to user_sales_path(current_user.id), class:'button cancel-button btn-danger' do %><i class='fa fa-times'></i> Annuler<% end %>
						  	<%= f.submit "Sauvegarder et publier l'annonce", class:'button' %>
					  	</div>
					<% end %>
				</div>
			</div>
		</div>

	</div>
</div>
