<div id="wrapper">

	<!-- Titlebar -->
	<div id="titlebar" class="gradient">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>	Ajouter un article</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<% if user_signed_in? %>
						<li><%= link_to "Accueil", root_path %></li>
					    <li><%= link_to "Mon compte", user_path(current_user.id) %></li>
						<% else %>
						<li><%= link_to "Accueil", root_path %></li>
						<li><%= link_to "Mon compte", user_session_path %></li>						
						<% end %> 
					</ul>
				</nav>
			</div>
		</div>
		</div>
	</div>

<div class="container">

	<!-- Form start -->
	<div class="row">
		<div class="col-lg-12">
			<div id="add-listing" class="separated-form">

			<%= form_with model: @item, class:'form' do |f| %>

				<% if user_signed_in? %>
					<%= f.hidden_field :seller_id, value: current_user.id %>
				<% end %>
				<%= f.hidden_field :status, value:'published' %>

				<!-- Section Informations essentielles -->
				<div class="add-listing-section">

					<div class="add-listing-headline">
						<h3><i class="far fa-user"></i></i>Informations essentielles</h3>
					</div>

					<div class="row with-forms">
						<div class="col-md-8">
							<h5>Nom de l'article<i class="tip" data-tip-content="Soyez concis avec 2-3 mots dans le titre"></i></h5>
							<div class="search-field"><%= f.text_field :title, required:true %></div>
						</div>

						<div class="col-md-4">
							<h5>Catégorie</h5>
							<%= f.collection_select :category_id, Category.all, :id, :category_name, include_blank: true %>
						</div>
					</div>

					<div class="row with-forms">
						<div class="col-md-12">
							<h5>Description<i class="tip" data-tip-content="Décrivez précisément l'article: provenance et utilisation de la matière première, taille, nombre de pièces, dimensions principales : épaisseur, longueur..."></i></h5>
							<span class="WYSIWYG"><%= f.text_area :description, required:true, rows:"3" %></span>
							<p class='font-weight-light'>
								Donnez le maximum de détails pour maximiser la confiance des artisans et vous éviter des questions de leur part.</p>
						</div>
					</div>

					<div class="row with-forms">
						<div class="col-md-4">
						<h5>Prix de vente</h5>
						<div class="search-field"><%= f.text_field :price, required:true %></div>	
						</div>
					</div>
				</div>

				<!-- Section Photos -->
				<div class="add-listing-section margin-top-45">
					<div class="add-listing-headline">
						<h3><i class="far fa-image"></i></i> Galerie photos</h3>
					</div>

					<!-- Dropzone -->
					<div class="submit-section">
						<span class="dropzone" ><%= f.file_field :item_images, multiple: true %></span>
						<p class='font-weight-light'>
								Téléchargez une ou plusieurs photos, pour donner confiance aux artisans qui réutiliseront ces matières premières.</p>
					</div>
				</div>
			  	
			  	<%= f.submit class:'button preview' %>
			<% end %>
		</div>
	</div>
</div>
</div>