<%= @item.title %>

<p>UPLOAD HERE YOUR IMAGES WITH ACTIVE STORAGE</p>

<%= form_with model: @item, url: item_thanks_path, class:'form' do |f| %>

	<div class='form-group form-inline row'>
		<div class='col-sm-2 align-top'><%= f.label :image_1 %></div>
		<div class='col-sm-10'><%= f.file_field :images %></div>
	</div>

<!-- 	<div class="field">
		<%= f.label :image_2 %>
		<%= f.file_field :images %>
	</div>


	<div class="field">
		<%= f.label :image_3 %>
		<%= f.file_field :images %>
	</div>
 -->
  	<%= f.submit class:'btn btn-success' %>
<% end %>
<p></p>
<p><%= link_to 'Optimiser plus tard', items_path, class:'btn btn-success' %></p>
<p><%= link_to 'Valider', edit_item_path(@item.id), method: :put, class:'btn btn-success' %></p>
