SHOW PRODUIT<br>

<p>Produit: <%= @item.title %></p>
<% if @item.item_images.attached? %>
    <p><%= image_tag @item.item_images[0] %></p>
 <% end %>
<p>Description: <%= @item.description%></p>
<p>Prix: <%= @item.price%> €</p>
<p>Vendeur: <%= User.find(@item.seller_id).first_name %></p>

<%= link_to 'Retour', :back %><br><br> 

<%= form_for :create_cart, url: carts_path, method: :post do |f| %>
    <%= f.submit "Acheter", class:"btn btn-primary" %>
<% end %><br>